
*{
    padding:0 ;
    margin:0 auto;
    max-width: 1305px;
    box-sizing:border-box;
    
}
*,*::before,*::after{
    box-sizing: border-box;
}
:root{
    font: status-bar;
    font-size: inherit;
}

/*-------------- HEADER -------------*/

.hd{
    height: 270px;
    /* display: block; */
}
.one{
    padding: 5px 0 5px 0;
    background-color: rgb(85,65,95);
    font-size: small;
    text-align: right;
    text-decoration: none;
    color: whitesmoke;
    border: none;
}
.one a{
    color: whitesmoke;
}
.two h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.two h6{
    color: rgb(163, 152, 152);
}
li.hihi{
    font-size:35px;
}
li#haha{
    font-size: 30px;
}
span.hi{
    font-size: 70px;
}

.two{
    padding-top: 90px;
    display: flex;
    justify-content: space-between;
}
#f1 ul{
    list-style-type: none;
    text-align: left;
    padding-left: 50px;
}
#f1 li{
    line-height: 40px;
}

#f2 ul{
    list-style-type: none;
    text-align: right;
}
#f2 li{
    display: inline-block
}
#h{
    justify-content: center;

}
div.cl a{
    color:rgb(0, 17, 54);
    transition: all 0.3s;
}

div.cl a:link{
    text-decoration: none;
}
div.cl a:hover{
    color: blue;
    text-decoration: underline;
}
#f2 a{
    padding:15px;
    text-align:center;
    font-size: 15px;
    
}
/*-------------- MAIN -------------*/
.three{
    display: inline-flex;
    padding-top: 50px;
    width: 100%;
    background-color: rgb(235,235,235);
}
#f3{
    padding-left: 30px;
    width: 750px;
    height: 500px;
}

#f4{

    padding-left: 150px;
    font-size: 20px;
    padding-top: 200px;
}
#f5{
    padding-bottom: 40px;
}
form.form_f{
    padding-top: 25px;
}
#f4 a{
    text-decoration: none;
    color: whitesmoke;
}
#f4 button{
    border: none;
    padding: 10px;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(85,65,95);
    border-radius: 12px;
}
section.four{
    display: flex;
    /* font-size: 20px; */
    /* text-align: center; */
    padding:0px 0px 0px 0px;
}

section.four hr{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color:rgb(217,217,217);
    height: 1px;;
}
section.four img{
    width: 240px;
    height: 150px;
}
#head{
    color: rgb(53,29,65);
    font-size: 25px;
}
#head2{
    color: rgb(108,105,98);
}
div.item1{
    padding-left: 60px;
}
div.item2{
    padding-left: 40px;
}
div.item3{
   padding-left: 40px;
}
div.item4{
    padding-left: 40px;
}
section.five{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-left: 20px;
}

#p1{
    font-size: 30px;
    padding-bottom: 30px;
    color: rgb(114,112,105);
}
section.five img{
    width: 300px;
    height: 200px;
    padding-bottom: 40px;
}
#p2{
    font-size: 20px;
    padding-bottom: 25px;
    color: rgb(131, 129, 123);
}

section.five button{
    color: rgb(106,88, 115);
    border: none;
    background-color: rgb(255,255,255);
    font-size: 20px;
}
section.five a{
    text-decoration: none;
}

#f11{
    text-align: center;
    padding-top: 50px;
    font-size: 27px;
    color: rgb(56,56,56);
}


/*-------------- FOOTER -------------*/
.nine{
    display: inline-flex;
    font-size: 18px;
    margin-top: 30px;
    padding-left: 0px;
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: rgb(34,34,34);
}
#f13{
    padding-top: 4px;
    width: 320px;
    margin-left: 30px;
}
#f13 h3{
    color: rgba(255, 255, 255, 0.856);
    padding-bottom: 40px;
}
#f13 h4{
    color: rgb(174,145,190);
}
p#ph{
    color: rgb(138,135,128);
    font-size: 70%;
}
p#ph1{
    color: rgb(138,135,128);
    padding-top: 15px;
}
#f14{
    width: 310px;
}
#f14 h3{
    color: rgba(255, 255, 255, 0.856);
    padding:3px 0px 45px 0px;
}
#f14 ul{
    list-style-type: disc;
    list-style-image: url('pic11.PNG');
}
#f14 li{
    padding-bottom: 10px;
    color: rgb(193,153,205);
}
#f15{
    width: 315px;
}
#f15 h3{
    color: rgba(255, 255, 255, 0.856);
    padding:3px 0px 45px 0px;
}
#f15 ul{
    list-style-type: none;
}
#f15 li{
    color: rgb(138,135,128);
}
#tel{
    padding-top: 35px;
}
#f15 a{
    text-decoration: none;
    color: rgb(105, 72, 105);
}

#f16{
    width: 331px;
}
#f16 h3{
    color: rgba(255, 255, 255, 0.856);
    padding:3px 0px 45px 0px;
}

.Name{
    border-radius: 10px;
    font-size:25px;
    color: whitesmoke;
    height: 50px;
    width: 240px;
    margin-bottom: 20px;
    background-color: rgb(53,53,53);
    border: none;
}
.email{
    border-radius: 10px;
    font-size:25px;
    color: whitesmoke;
    height: 50px;
    width: 240px;
    border: none;
    background-color: rgb(53,53,53);
}
.submit{
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    height: 45px;
    width: 80px;
    font-size: 20px;
    background-color: rgb(159,129,169);
    color: whitesmoke;
    margin-bottom: 30px;
}
.buttom ul{
    display:flex;
    list-style-type: none;
}
.buttom li{
    border: none;
    margin:5px
}
.buttom button{
    border: none;
    background-color: rgba(36, 34, 34, 0.952);
}
#f18 a:link{
    text-decoration: none;
}
#f18 a{
    width: 0px;
    height:0px;
}
#f19{
    padding-top: 5px;
    background-color:rgb(0,0,0);
    color: rgb(0,0,0);
    height: 6px;
    margin-right: 100px;
    width: 1305px;
}
.end{
    display: inline-flex;
    background-color:rgba(36, 34, 34, 0.952);
    font-size: 20px;
    padding:20px;
    color: rgb(109, 106, 106);

}
#text{
    width: 960px;
}
#text_last{
    width:326px;
}



/*----------- RESPONSIVE FOR MOBILE------------------*/

@media screen and (min-width:250px) and (max-width:425px){
    *{
       max-width: 100vw;
    }
    :root{
        font: status-bar;
    }
    /* Header*/
    .one{
        font-size: 7px;
    }
    .hihi h2{
        font-size: 20px;
        height: 20px;
    }
    .hihi .hi{
        font-size: 25px;
    }
    #f1 #haha h6{
        font-size: 10px;
    }
    #f1 ul{
        padding-left: 20px;
    }
    .two{
        padding-top: 20px;
    }
    #f2 a{
        font-size: 10px;
    }
    .hd{
        height: 150px;
    }
    .two{
        display: flex;
    }
    #f1{
        width: 50vw;
    }
    #f1 h2{
        width: 50vw;
        margin-left: 0px;
        margin-right: 0px;
    }
    #f1 h6{
        width: 50vw;
        margin-left: 0px;
        margin-right: 0px;
    }
    #f2 ul{
        width: 50vw;
    }
    #f2 li{
        width: 50vw;
    }
    
    /*//////////////////////////////////////*/
    /* Main */
    .three{
        padding-top: 10px;
        padding-bottom: 20px;
    }
    #f3 {
        padding-left: 5%;
        height: 40%;
        width: 50vw;
        margin-left: 0px;
    }
    #f3 img{
        padding-left: 0px;
        width: 50vw;
        height: 25vh;
    }
    #f4{
        padding-left: 5vw;
        font-size: 4px;
        padding-top: 10vh;
        height: 45%;
        margin-left: 0px;
    }
    #f5{
        padding-bottom: 10px;
    }
    #f4 button{
        display: flex;
        text-align: center;
        width: 45%;
        height: 4%;
        padding:5px 0px 5px 0px;
        margin-top: 10px;
        margin-left: 0px;
    }
    #f4 a{
        font-size: 4px;
    }

    section.four{
        display: block;
        font-size: 20px;
        text-align: center;
        justify-content: center;
    }
    section.four hr{
        margin-top: 30px;
        margin-bottom: 30px;
        width: 60%;
        height: 1px;;
    }
    section.four img{
        width: 31.25%;
        height: 80px;
    }
    #head{
        font-size: 15px;
    }
    div.item1{
        padding-left: 0px;
    }
    div.item2{
        padding-left: 0px;
    }
    div.item3{
       padding-left: 0px;
    }
    div.item4{
        padding-left: 0px;
    }
    #head2{
        font-size: 10px;
        padding-bottom: 20px;
    }
    #f11{
        font-size: 1em;
        width: 100vw;
    }

    /*Đây nha -----------------------------------------------------*/
    section.five{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }
    
    /***************************************************************************/
    #p1{
        font-size: 20px;
        padding-bottom: 20px;
    }
    section.five img{
        width: 70%;
        height: 34.42%;
        padding-bottom: 20px;
    }
    #p2{
        font-size: 15px;
        padding-bottom: 5px;
    }
    
    section.five button{
        font-size: 10px;
        padding-bottom: 20px;
        text-align: left;
    }
    section.five a{
        text-decoration: none;
    }
    /*//////////////////////////////////////////*/

    /*Footer*/
    .nine{
        display: block;
        font-size: 10px;
        margin-top: 30px;
        padding-top: 30px;
        padding-bottom: 40px;
        width: 100%;
    }
    div#f13{
        margin-left: 30px;
        margin-right: 0px;
        width: 80vw;
    }
    #f13 h3{
        padding-bottom: 20px;
        margin-left: 0px;
        margin-right: 0px;
        width: 30vw;
    }
    #f13 h4{
        margin-left: 0px;
        margin-right: 0px;
        width: 30vw;
    }

    div#f14{
        padding:15px 0px 15px 0px;
        margin-left: 30px;
        margin-right: 0px;
        width: 80vw;
    }
    #f14 h3{
        margin-left: 0px;
        margin-right: 0px;
        padding-bottom: 20px;
        width: 30vw;
    }
    #f14 li{
        margin-left: 0px;
        margin-right: 0px;
        width: 50vw;
        padding-bottom: 7px;
    }
    #f14 ul{
        margin-left: 0px;
        margin-right: 0px;
        width: 50vw;
    }
    #f15{
        padding-left: 0px;
        margin-left: 30px;
        margin-right: 0px;
        width: 80vw;
    }
    #f15 h3{
        padding:3px 0px 10px 0px;
        margin-left: 0px;
        margin-right: 0px;
        padding-bottom: 20px;
        width: 30vw;
    }
    #tel{
        padding-top: 10px;
    }
    
    #f16{
        padding-left: 0px;
        margin-left:30px;
        width: 80vw;
    }
    #f16 h3{
        padding:30px 0px 10px 0px;
    }
    .buttom{
        width: 10%;
        width: 10%;
    }
    .buttom img{
        width: 100%;/* se phu thuoc vao do dai lop gan nhat chinh la button*/
        width: 100%;
    }
    .buttom button{
        width: 11vw;
        width: 11vw;
    }
   
    div.buttom{
        margin-right: 0px;
        margin-left: 0px;
    }
    
    #f19{
        width: 100vw;
    }
    .Name{
        font-size:10px;
        height: 20px;
        width: 150px;
        margin-bottom: 10px;
    }
    .email{
        font-size:10px;
        height: 20px;
        width: 150px;
        margin-bottom: 5px;
    }
    .submit{
        margin-top: 10px;
        height: 20px;
        width: 50px;
        font-size: 10px;
        margin-bottom: 30px;
    }
    
    .end{
        display: block;
        font-size: 10px;
    }
    #text{
        padding-bottom: 10px;
        width: 100%;
    }
    #text_last{
        width: 100%;
    }
}



/*----------- RESPONSIVE FOR IPAD------------------*/

@media screen and (min-width:426px) and (max-width:768px){
    *{
       max-width: 100vw;
    }
    :root{
        font: status-bar;
        font-size: inherit;
    }
    /* Header*/
    .one{
        font-size: 13px;
    }
    .hihi h2{
        font-size: 30px;
        height: 25px;
    }
    .hihi .hi{
        font-size: 40px;
    }
    #f1 #haha h6{
        padding-top:5px;
        font-size: 10px;
    }
    #f1 ul{
        padding-left: 20px;
    }
    #f1 h2{
        padding-top: 0px;
        justify-content: left;
    }
    #f2 a{
        font-size: 10px;
    }
    .hd{
        height: 150px;
    }
    .two{
        display: block;
        padding-top:30px;
        padding-left: 0px;
    }
    #f1{
        width: 100vw;
        margin-left: 0px;
    }
    #f1 h2{
        width: 50vw;
        margin-left: 0px;
    }
    #f1 h6{
        width: 50vw;
        margin-left: 0px;
        margin-right: 0px;
    }
    div#f2.cl{
        margin-left: 0px;
        width: 100vw;
    }
    div#f2.cl ul{
        display: flex;
        width: 1;
        text-align: center;
    }
    #f2 li{
        width: 50vw;
    }
    
    /*//////////////////////////////////////*/
    /* Main */
    div.three{
        margin-top: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #f3 {
        padding-left: 5%;
        height: 40%;
        width: 50vw;
        margin-left: 0px;
    }
    #f3 img{
        padding-left: 0px;
        width: 50vw;
        height: 80vh;
    }
    #f4{
        padding-left: 0vw;
        font-size: 13px;
        padding-top: 40vh;
        height: 45%;
        margin-left: 10px;
    }
    #f5{
        padding-bottom: 10px;
    }
    #f4 button{
        display: flex;
        text-align: center;
        width: 45%;
        height: 4%;
        padding:10px 0px 10px 0px;
        margin-top: 10px;
        margin-left: 0px;
    }
    #f4 a{
        font-size: 8px;
    }

    section.four{
        display: block;
        font-size: 20px;
        text-align: center;
    }
    section.four hr{
        margin-top: 30px;
        margin-bottom: 30px;
        width: 60%;
        height: 1px;;
    }
    section.four img{
        width: 50%;
        height: 90px;
    }
    #head{
        font-size: 20px;
    }
    div.item1{
        padding-left: 0px;
        float: left;
        width: 50%;
    }
    div.item2{
        padding-left: 0px;
        float: right;
        width: 50%;
    }
    div.item3{
       padding-left: 0px;
       float: left;
       width: 50%;
    }
    div.item4{
        padding-left: 0px;
        float: right;
        width: 50%;
    }
    .clear{
        clear: both;
    }
    #head2{
        font-size: 15px;
        padding-bottom: 20px;
    }
    #f11{
        font-size: 1em;
        width: 100vw;
    }

    section.five{
        display: block;
        justify-content: center;
        padding-top: 50px;
        padding-left: 6.25%;
    }
    
    #p1{
        font-size: 25px;
        padding-bottom: 20px;
    }
    section.five img{
        width: 75%;
        height: 30%;
        padding-bottom: 20px;
    }
    div.five_1{
        float: left;
    }
    div.five_2{
        float: right;
    }
    div.five_3{
        float: left;
    }
    div.five_4{
        float: right;
    }
    div.clear_2{
        clear: both;
    }
    #p2{
        font-size: 20px;
        width: 42vw;
        margin-left: 0px;
        padding-bottom: 5px;
    }
    
    section.five button{
        font-size: 15px;
        padding-bottom: 20px;
        text-align: left;
    }
    section.five a{
        text-decoration: none;
    }
    /*//////////////////////////////////////////*/

    /*Footer*/
    .nine{
        display: flex;
        font-size: 10px;
        margin-top: 30px;
        padding-top: 30px;
        padding-bottom: 40px;
        width: 100%;
    }
    div#f13{
        margin-left: 10px;
        margin-right: 0px;
        width: 25vw;
    }
    #f13 h3{
        padding-bottom: 20px;
        margin-left: 0px;
        margin-right: 0px;
        width: 25vw;
    }
    #f13 h4{
        margin-left: 0px;
        margin-right: 0px;
        width: 25vw;
    }
    div#f14{
        padding:2px 0px 15px 0px;
        margin-left: 30px;
        margin-right: 0px;
        width: 17vw;
    }
    #f14 h3{
        margin-left: 0px;
        margin-right: 0px;
        padding-bottom: 20px;
    }
    
    #f14 ul{
        margin-left: 0px;
        margin-right: 0px;
        width: 17vw;
    }
    #f15{
        padding-left: 0px;
        margin-left: 30px;
        margin-right: 0px;
        width: 18vw;
    }
    #f15 h3{
        padding:3px 0px 10px 0px;
        margin-left: 0px;
        margin-right: 0px;
        padding-bottom: 20px;
        width: 18vw;
    }
    #tel{
        padding-top: 10px;
    }
    
    #f16{
        padding-left: 0px;
        margin-left:30px;
        width: 30vw;
    }
    #f16 h3{
        padding:4px 0px 20px 0px;
    }
    .buttom{
        width: 10%;
        width: 10%;
    }
    .buttom img{
        width: 100%;/* se phu thuoc vao do dai lop gan nhat chinh la button*/
        width: 100%;
    }
    .buttom button{
        width: 3vw;
        width: 3vw;
    }
   
    div.buttom{
        margin-right: 0px;
        margin-left: 0px;
    }
    
    #f19{
        width: 100vw;
    }
    .Name{
        font-size:10px;
        height: 25px;
        width: 160px;
        margin-bottom: 10px;
    }
    .email{
        font-size:10px;
        height: 25px;
        width: 160px;
        margin-bottom: 5px;
    }
    .submit{
        margin-top: 10px;
        height: 20px;
        width: 50px;
        font-size: 10px;
        margin-bottom: 30px;
    }
    
    .end{
        display: flex;
        font-size: 15px;
        height: 20px;
        align-items: center;
    }
    #text{
        padding-bottom: 0px;
        width: 50%;
    }
    #text_last{
        width: 50%;
        text-align: right;
    }
   
}


